<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="/images/KakaoCI.png"/>
      </a>

    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/users">멤버 리스트</a></li>
      {{^sessionUser}}
      <button class="black-component" onclick="login()">로그인</button>
      {{/sessionUser}}
      {{#sessionUser}}
      <li><a class="black-component" href="/users/logout" role="button">로그아웃</a></li>
      {{/sessionUser}}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script type="text/javascript">
        function login() {
          Kakao.Auth.login({
            success: function (response) {
              console.log('로그인 성공');
              Kakao.API.request({
                url: '/v2/user/me',
                success: function (response) {
                  console.log('사용자 정보 가져오기 성공');
                  axios.post('/users/login', {
                    userId: response.id,
                    password: "password",
                    name: response.properties.nickname,
                    email: response.kakao_account.email
                  }).then(response => {
                    window.location.href = "/";
                  });
                },
                fail: function (error) {
                  console.log('사용자 정보 가져오기 실패');
                  console.log(error);
                }
              });
            },
            fail: function (error) {
              console.log('로그인 실패');
              console.log(error);
            },
          });
        }
      </script>
    </ul>
  </div>
</nav>
