<!DOCTYPE html>
<html lang="kr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>☕️</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/reset.css" rel="stylesheet">
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script type="text/javascript">
    Kakao.init('08ab5c6c77309db4b285b5e238d2ea6f');
    console.log(Kakao.isInitialized());
  </script>
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="background">
  {{>layout/nav}}

  <div class="description">
    <div class="desc-container">
      <p class="desc-small">안녕하세요</p>
      <p class="desc-big">카카오 교육 페이지 입니다.</p>
    </div>
  </div>

  <p class="total_num">전체 글 {{postList.size}}개</p>

  <div class="container" id="main">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일자</th>
          </tr>
          </thead>
          <tbody>
          {{#postList}}
          <tr>
            <td><a href="/posts/{{postId}}">{{title}}</a></td>
            <td><a href="/users/{{userId}}">{{name}}</a></td>
            <td>{{createdAt}}</td>
          </tr>
          {{/postList}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <button id="kakao-link-btn">
        <img
            src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
            alt="카카오링크 보내기 버튼"
        />
      </button>
    </li>
    <li>
      <button id="test" onclick="friend()">
        친구추가
      </button>
    </li>
  </ul>
  <script type="text/javascript">
    Kakao.Link.createCustomButton({
      container: '#kakao-link-btn',
      templateId: 71134,
      templateArgs: {
        'title': '제목 영역입니다.',
        'description': '설명 영역입니다.'
      }
    });
  </script>
  <script type="text/javascript">
    function friend() {
      console.log('친구추가');
      console.log(Kakao.Auth.getAccessToken());
      if (!Kakao.Auth.getAccessToken()) {
        console.log('로그인 안 함')
        alert('로그인부터 하세요');
        return;
      }
      Kakao.API.request({
        url: '/v1/api/talk/friends',
        success: function (response) {
          console.log("친구 목록 불러오기 성공");

          const friendUuidList = [];
          response.elements.forEach((friend) => {
            console.log(friend.uuid);
            friendUuidList.push(friend.uuid);
          });
          console.log(friendUuidList);

          Kakao.API.request({
            url: '/v1/api/talk/friends/message/scrap/send',
            data: {
              receiver_uuids: friendUuidList,
              request_url: 'http://localhost:8080/users/test',
              template_id: 71227,
            },
            success: function(response) {
              console.log('메시지 api 보내기 성공')
              console.log(response);
            },
            fail: function(error) {
              console.log('메시지 api 보내기 실패')
              console.log(error);
            },
          });
        },
        fail: function (error) {
          console.log("친구 목록 불러오기 실패");
          console.log(error);
          Kakao.Auth.login({
            scope: 'friends',
            success: function (response) {
              console.log("친구 목록 동의 성공");
              console.log(response);
            },
            fail: function (error) {
              console.log("친구 목록 동의 실패");
              console.log(error);
            }
          });
        }
      });
    }
  </script>
  <div class="post-btn-container">
    <a class="post-write-btn" href="/post/write" class="btn btn-primary pull-right" role="button">글쓰기</a>
  </div>
</div>

<!--login modal-->
<!--
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>Login</h2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" name="userId" placeholder="User ID">
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">로그인</button>
                  <span class="pull-right"><a href="#registerModal" role="button" data-toggle="modal">회원가입</a></span>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>  
      </div>
  </div>
  </div>
</div>
-->

<!--register modal-->
<!--
<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>회원가입</h2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" id="userId" name="userId" placeholder="User ID">
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <label for="name">이름</label>
                  <input class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                  <label for="email">이메일</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">회원가입</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>  
      </div>
  </div>
  </div>
</div>
-->
</body>
</html>
