<!DOCTYPE html>
<html lang="kr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>☕️</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="../css/reset.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="../css/user/login.css" rel="stylesheet">
</head>
<body>
<div class="background">
  {{>layout/nav}}

  <div class="container" id="main">
    <header class="post-header">
      <p class="title">로그인</p>
    </header>
    <a id="kakao-login-btn"></a>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      Kakao.init('08ab5c6c77309db4b285b5e238d2ea6f');
      console.log(Kakao.isInitialized());
      Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function (response) {
          console.log('로그인 성공');
          Kakao.API.request({
            url: '/v2/user/me',
            success: function (response) {
              console.log('사용자 정보 가져오기 성공');
              axios.post('/users/login', {
                userId: response.id,
                password: "password",
                name: response.properties.nickname,
                email: response.kakao_account.email
              }).then(response => {
                window.location.href = "/";
              });
            },
            fail: function (error) {
              console.log('사용자 정보 가져오기 실패');
              console.log(error);
            }
          });
        },
        fail: function (error) {
          console.log('로그인 실패');
          console.log(error);
        },
      });
    </script>
  </div>

</div>
</body>
</html>
